* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
    justify-content: space-between;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===================== Header ===================== */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 50.36%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ===================== Clients ===================== */
.clients {
    margin-top: 79px;
    padding: 43px 0 34px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.clients .images a {
    /* vì thẻ a nên muốn set height phải display: inline-block/block/flex; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Chiều cao hình ảnh khác nhau nên set height chung thay vì padding top/bottom tránh việc chiều cao các thẻ khác nhau*/
    height: 90px;
    padding: 0 32px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ===================== Guides ===================== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #0689ff;
}

.guide-item span {
    margin-right: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ===================== Features ===================== */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.feature .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.feature .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.feature .row {
    margin-top: 15px;
}

.feature .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.feature .arrow {
    margin-left: 6px;
}

.list-feature {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.feature-item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.feature-item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature-item .body {
    padding: 17px 20px 20px;
}

.feature-item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.feature-item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}

.feature-item .info {
    margin-left: -22px;
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.feature-item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

.feature-item .icon {
    margin-left: 22px;
}

/* ===================== Stats ===================== */
.stats {
    margin-top: 75px;
    padding: 50px 0 52px;
}

.stats .content {
    width: 1048px;
}

.stats .img-block,
.stats .info {
    width: 49.62%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .separate {
    margin-top: 25px;
    width: 193.62px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
    margin-left: 3px;
}

.stats .avatar-group {
    display: flex;
}

.stats-trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 450;
    font-size: 0.7rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: var(--bg-color, #fff);
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .row-quantity {
    margin-top: 110px;
    padding: 0 32px;
}

.stats .row-quantity strong {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .row-quantity .desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
}

/* ===================== Subscription ===================== */
.subsription {
    margin-top: 90px;
}

.subsription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    padding: 110px 80px;
    border-radius: 20px;
    background: #063183;
}

.subsription .info {
    width: 671px;
    max-width: 100%;
}

.subsription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subsription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subsription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #ffffff;
    color: #002366;
}

.subsription .image {
    position: absolute;
    right: 221px;
    bottom: 0;
}

/* ===================== Footer ===================== */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
}

.footer .desc {
    width: 257px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 16px;
    border-radius: 3px;
    background: #f9f9f9;
}

.footer .social-link:hover {
    background: #ddd;
}

.footer .row-copyright {
    margin-top: 81px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}

/* 

Những điều lưu ý sau khi hoàn thành dự án:

- Trước khi code hãy xem xét tổng quát dự án để xem những class nào sẽ sử dụng chung. 
VD: content, button, row (2 nội dung trên 1 hàng), a, line-clamp, v.v

- Thẻ inline (khi làm dự án thường là thẻ a) khi muốn set width, height, margin-top, margin-left, padding-top, padding-left 
NHỚ THÊM display: block / inline-block;

- Các element ::after, ::before nên đặt position: absolute để thoát khỏi mặt phẳng và luôn có thuộc tính top, left, right, bottom.
--> Tránh va chạm với các phần tử xung quanh

- margin-top phần tử con nhưng thẻ cha bị tác động chung thì nhớ ngay đến trường hợp bị MARGIN COLLAPSED
--> Thay bằng padding-top tùy vào trường hợp

- Set width cứng thì trường hợp nội dung vượt quá sẽ trồi ra ngoài thẻ

- Xem lại các bài thuộc tính về image và display.

- Những nội dung có thể rất dài (thẻ h3, thẻ p) thì chú ý thêm line-clamp để giới hạn số dòng hiển thị và hiển thị dấu 3 chấm

- Thẻ cha có thuộc tính display: flex; thì thẻ con inline có thể set width/height.

- Trong html thẻ nào không set màu thì màu mặc định là màu đen (#000000)
*/
